.scrollTop{
    position:fixed;
    text-decoration: none;
    text-indent: 100%;
    text-align:center;
    height: 40px;
    width: 40px;
    padding:10px;
    bottom: 40px;
    right: 10px;
    display:none;
    background: rgba(232, 98, 86, 0.8) url(assets/brozzme-scrolltop-arrow.svg) no-repeat center 50%;
}
.scrollTop:hover{
    text-decoration:none;
    background: rgba(232, 98, 86, 1) url(assets/brozzme-scrolltop-arrow.svg) no-repeat center 50%;
}
.scrollTop a:hover, .scrollTop a:focus {
    color: #19b798;
    text-decoration: none;
}
a:focus {
    outline: unset;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
/*

@media only screen and (min-width: 768px) {
    .scrollTop {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .scrollTop {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
*/
